@model LotDetailViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="lot-body">
    <div class="lot-header">
        <div class="lot-header-name">@Model.Lot.Name</div>
        <div class="lot-header-time">@await Component.InvokeAsync("TimeLeft", new { lot = Model.Lot, localizer = Localizer })</div>
    </div>
    <br />
    <div class="lot-main">
        <div class="lot-image">
            <a href="~/img/@(Model.Lot.Id).jpg">
                <img src="@Model.Lot.Image" alt="@Model.Lot.Name" width="480" height="360" />
            </a>
        </div>
        <div class="lot-short-desc">
            <table id="lot-table-left" border="0">
                <tr>
                    <td class="lot-short-desc-title">@Localizer["IssueYear"]:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Year</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["Transmission"]:</td>
                    <td class="lot-short-desc-data">@transmission[Model.Lot.Transmission]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["EngineVolume"]:</td>
                    <td class="lot-short-desc-data">@Model.Lot.EngineVolume @Localizer["liter"].</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["Fuel"]:</td>
                    <td class="lot-short-desc-data">@fuel[Model.Lot.Fuel]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["Body"]:</td>
                    <td class="lot-short-desc-data">@body[Model.Lot.Body]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["Mileage"]:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Milleage @Localizer["km"].</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["Drive"]:</td>
                    <td class="lot-short-desc-data">@drive[Model.Lot.Drive]</td>
                </tr>
            </table>
            <table id="lot-table-right" border="0">
                <tr>
                    <td class="lot-short-desc-title">@Localizer["Owner"]:</td>
                    <td class="lot-short-desc-data"><obj-link class="object-link" obj=@Model.Lot.User></obj-link></td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["ExposingTime"]:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Exposing</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["EndingTime"]:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Ending</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@Localizer["Price"]:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Price BYN</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">@(Model.Lot.IsActual() ? Localizer["Leader"].Value + ":" : Localizer["Winner"].Value + ":")</td>
                    @if (Model.Lot.Bids.Any())
                    {
                        <td class="lot-short-desc-data"><obj-link class="object-link" obj=@Model.getLeader()></obj-link></td>
                    }
                    else
                    {
                        <td class="lot-short-desc-data">--</td>
                    }
                </tr>
                @if (User.IsInRole("admin"))
                {
                    <tr>
                        <td colspan="2" class="lot-short-desc-title">
                            <form asp-controller="Lots" asp-action="Delete" asp-route-id="@Model.Lot.Id" method="post">
                                <input class="action-link-default button-danger" type="submit" value=@Localizer["Delete"] />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="lot-main-desc">
        <p class="lot-main-desc-title">@Localizer["LotDescription"]:</p>
        <p class="lot-main-desc-data">@Model.Lot.Desc</p>
    </div>
    <div class="lot-bids">
        <div class="lot-bids-table-div">
            <p class="lot-main-desc-title">@Localizer["BidsHistory"]:</p>
            <table id="bidsTable" cellspacing="0" cellpadding="3">
                <thead>
                    <tr id="bidsTableHeader" class="table-header">
                        <th>@Localizer["User"]</th>
                        <th>@Localizer["NewPrice"]</th>
                        <th>@Localizer["Time"]</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @if (Model.Lot.Bids.Count > 0)
                    {
                        foreach (var bid in Model.Lot.Bids.OrderByDescending(b => b.Time))
                        {
                            <tr class="table-row">
                                <td><obj-link class="object-link" obj=@bid.User></obj-link></td>
                                <td>@bid.NewPrice</td>
                                <td>@bid.Time</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr id="noBids_tr" class="table-null">
                            <td colspan="4">@Localizer["NoBids"]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model.Lot.IsActual() && User.Identity.IsAuthenticated)
        {
            <div class="make-bid-div">
                <p class="make-bid-title">@Localizer["MakeBid"]:</p>
                <form asp-action="MakeBid" asp-controller="Lots">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="BidId" value="@Model.Lot.Id">
                    <div class="form-input">
                        <label asp-for="BidPrice" class="control-label">@Localizer["YourBid"]</label>
                        <input type="number" asp-for="BidPrice" class="form-control" />
                    </div>
                    <div class="form-button">
                        <input class="action-link-default" type="submit" value=@Localizer["Confirm"] onclick="" />
                    </div>
                </form>
            </div>
        }
    </div>
</div>
<script src="~/js/signalr.min.js"></script>
<script>
    const updateHubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/updates")
        .build();
    updateHubConnection.on('UpdateTable', function (lot_id, user_id, user_name, price, time) {
        var model_id = lot_id;
        if (model_id == lot_id) {
            var user_td = document.createElement('td');
            var user_link = document.createElement('a');
            user_link.classList.add('object-link');
            var link_text = document.createTextNode(user_name);
            user_link.appendChild(link_text);
            user_link.href = "Users/Profile/" + user_id;
            user_td.appendChild(user_link);
            var price_td = document.createElement('td');
            var price_text = document.createTextNode(price);
            price_td.appendChild(price_text);
            var time_td = document.createElement('td');
            var time_text = document.createTextNode(time);
            time_td.appendChild(time_text);
            var row = document.createElement('tr');
            row.append(user_td, price_td, time_td);
            row.classList.add('table-row');
            var noBids = document.getElementById('noBids_tr');
            if (noBids) {
                noBids.parentNode.removeChild(noBids);
            }
            var body = document.getElementById('tableBody');
            //debugger;
            body.insertBefore(row, body.firstChild);
        }
    });    
    updateHubConnection.start();
</script>