@model LotDetailViewModel

<div class="lot-body">
    <div class="lot-header">
        <div class="lot-header-name">@Model.Lot.Name</div>
        <div class="lot-header-time">@Model.TimeLeft(Model.Lot.Ending)</div>
    </div>
    <br/>
    <div class="lot-main">
        <div class="lot-image">
            <img src="@Model.Lot.Image" alt="@Model.Lot.Name" width="480" height="358" />
        </div>
        <div class="lot-short-desc">
            <table id="lot-table-left" border="0" cellspacing="10" height="358">
                <tr>
                    <td class="lot-short-desc-title">Год выпуска:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Year г.</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Коробка:</td>
                    <td class="lot-short-desc-data">@transmission[Model.Lot.Transmission]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Объём двигателя:</td>
                    <td class="lot-short-desc-data">@Model.Lot.EngineVolume л.</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Топливо:</td>
                    <td class="lot-short-desc-data">@fuel[Model.Lot.Fuel]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Кузов:</td>
                    <td class="lot-short-desc-data">@body[Model.Lot.Body]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Пробег:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Milleage км.</td>
                </tr>
            </table>
            <table id="lot-table-right" border="0" cellspacing="10" height="239">
                <tr>
                    <td class="lot-short-desc-title">Владелец:</td>
                    <td class="lot-short-desc-data"><a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.Lot.User.Id">@Model.Lot.User.UserName</a></td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Дата выставления:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Exposing</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Дата завершения:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Ending</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Стоимость:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Price р.</td>
                </tr>
            </table>
        </div>
    </div>   
    <div class="lot-main-desc">
        <p class="lot-main-desc-title">Описание лота:</p>
        <p class="lot-main-desc-data">@Model.Lot.Desc</p>
    </div>
    <div class="lot-bids">
        <div class="lot-bids-table-div">
            <p class="lot-main-desc-title">История ставок:</p>
            <table cellspacing="0" cellpadding="4">
                <tr class="lot-bid-header">
                    <th>Номер ставки</th>
                    <th>Пользователь</th>
                    <th>Новая цена</th>
                    <th>Время</th>
                </tr>
                @if (Model.Lot.Bids.Count > 0)
                {
                    foreach (var bid in Model.Lot.Bids)
                    {
                        <tr class="lot-bid-data">
                            <td>@bid.Id</td>
                            <td>@bid.User.UserName</td>
                            <td>@bid.NewPrice</td>
                            <td>@bid.Time</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="lot-bid-null">
                        <td colspan="4">Ставок пока нет</td>
                    </tr>
                }

            </table>
        </div>
        <div>
            <form>
            </form>
        </div>
    </div>
</div>
