@model LotDetailViewModel

<div class="lot-body">
    <div class="lot-header">
        <div class="lot-header-name">@Model.Lot.Name</div>
        <div class="lot-header-time">@Model.TimeLeft(Model.Lot.Ending)</div>
    </div>
    <br/>
    <div class="lot-main">
        <div class="lot-image">
            <img src="@Model.Lot.Image" alt="@Model.Lot.Name" width="480" height="358" />
        </div>
        <div class="lot-short-desc">
            <table id="lot-table-left" border="0" cellspacing="10" height="358">
                <tr>
                    <td class="lot-short-desc-title">Год выпуска:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Year г.</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Коробка:</td>
                    <td class="lot-short-desc-data">@transmission[Model.Lot.Transmission]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Объём двигателя:</td>
                    <td class="lot-short-desc-data">@Model.Lot.EngineVolume л.</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Топливо:</td>
                    <td class="lot-short-desc-data">@fuel[Model.Lot.Fuel]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Кузов:</td>
                    <td class="lot-short-desc-data">@body[Model.Lot.Body]</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Пробег:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Milleage км.</td>
                </tr>
            </table>
            <table id="lot-table-right" border="0" cellspacing="10" height="239">
                <tr>
                    <td class="lot-short-desc-title">Владелец:</td>
                    <td class="lot-short-desc-data"><a class="object-link" asp-controller="Users" asp-action="Profile" asp-route-id="@Model.Lot.User.Id">@Model.Lot.User.UserName</a></td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Дата выставления:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Exposing</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Дата завершения:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Ending</td>
                </tr>
                <tr>
                    <td class="lot-short-desc-title">Стоимость:</td>
                    <td class="lot-short-desc-data">@Model.Lot.Price р.</td>
                </tr>
               @if (User.IsInRole("admin"))
                {
                <tr>
                    <td colspan="2" class="lot-short-desc-title">
                        <form asp-controller="Lots" asp-action="Delete" asp-route-id="@Model.Lot.Id" method="post">
                            <input class="action-link-default button-danger" type="submit" value="Удалить" />
                        </form>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>   
    <div class="lot-main-desc">
        <p class="lot-main-desc-title">Описание лота:</p>
        <p class="lot-main-desc-data">@Model.Lot.Desc</p>
    </div>
    <div class="lot-bids">
        <div class="lot-bids-table-div">
            <p class="lot-main-desc-title">История ставок:</p>
            <table cellspacing="0" cellpadding="3">
                <tr class="table-header">
                    <th>Пользователь</th>
                    <th>Новая цена</th>
                    <th>Время</th>
                </tr>
                @if (Model.Lot.Bids.Count > 0)
                {
                    foreach (var bid in Model.Lot.Bids.OrderByDescending(b=>b.Time))
                    {
                        <tr class="table-row">
                            <td><a class="object-link" asp-controller="Users" asp-action="Profile" asp-route-id="@bid.User.Id">@bid.User.UserName</a></td>
                            <td>@bid.NewPrice</td>
                            <td>@bid.Time</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="table-null">
                        <td colspan="4">Ставок пока нет</td>
                    </tr>
                }

            </table>
        </div>
       @if (Model.Lot.IsActual() && User.Identity.IsAuthenticated)
        {
            <div>
                <form class="form-body" asp-action="MakeBid" asp-controller="Lots">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="BidId" value="@Model.Lot.Id">
                    <div class="form-input">
                        <label asp-for="BidPrice" class="control-label">Ваша ставка</label>
                        <input type="number" asp-for="BidPrice" class="form-control" />
                    </div>
                    <div class="form-button">
                        <input class="action-link-default" type="submit" value="Подтвердить" />
                    </div>
                </form>
            </div>
        }
    </div>
</div>
