<h2>Все лоты</h2>
<div class="listing">
@{
    foreach (var lot in Model.allLots)
    {
        <div class="listing-item">
            <div class="listing-item-image">
                <img src="@lot.image" alt="@lot.name" width="180" height="134"/> 
            </div>
            <div class="listing-item-main">
                <h3><a href="#">@lot.name</a></h3>
                <p>@Model.shortDesc(lot)</p>
                <b>@lot.price р.</b>
            </div>
        </div>
    }
}
</div>

